<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'loginNregister/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'loginNregister/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="{% static 'loginNregister/img/logo.png' %}" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="{% url 'register' %}" class="site-btn header-btn">Register</a>
					<nav class="main-menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="courses.html">Courses</a></li>
							<li><a href="blog.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>

				</div>
				<br><br><br><br><br><br>
					<h2 style="color:white;font-family: 'Lobster', cursive;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creating better leaders for tommorow</h2>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->

	<!-- signup section -->
	<section class="signup-section spad">
		<div class="signup-bg set-bg" data-setbg="{% static 'loginNregister/img/signup-bg.jpg' %}"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Upolad a course</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
						<!-- signup form -->
						<form class="signup-form"  action =" /loginNregister/coursesInfo/"  method="POST">{% csrf_token %}
							<input type="text" placeholder="Enter Course Name">
							<input type="text" placeholder="Targeted Audience">
							<input type="text" placeholder="Your Phone">
							<label for="v-upload" class="file-up-btn">Upload Course</label>
							<input type="file" id="v-upload">

						</form>
                        <a href="/loginNregister/coursesInfo/"><button class="site-btn">-->Courses Offered by you</button></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'loginNregister/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/mixitup.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/circle-progress.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/main.js' %}"></script>
</html>



