<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'loginNregister/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'loginNregister/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'loginNregister/css/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="{% static 'loginNregister/img/logo.png' %}" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">

					<nav class="main-menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="courses.html">Courses</a></li>
							<li><a href="blog.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'loginNregister/img/bg.jpg' %}"  style="height:100%;">
		<div class="container">
			<div class="row" >
				<div class="col-lg-10 offset-lg-1" style="margin-top:30%;">
					<form class="intro-newslatter" action =" /loginNregister/registerAction1/"  method="POST">{% csrf_token %}
						<input type="text" name="username" placeholder="Name">
						<input type="email" name="email" class="last-s" placeholder="E-mail"><br><br>
                        <br><input type="text" name="password"  placeholder="password">
                         <input type="text" name="type" class="last-s" placeholder="student/admin/instructor">
                        <button class="site-btn">Sign Up Now</button>

					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->




	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'loginNregister/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/mixitup.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/circle-progress.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'loginNregister/js/main.js' %}"></script>
</html>